/* Style for quiz component */
.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.options input[type="radio"] {
  margin-right: 10px;
}

button {
  width: 100px;
  padding: 10px;
  margin: 10px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.quiz-container {
  animation: fadeIn 1s ease-in-out;
}

/* Styling for correct answers */
.correct-answer {
  color: #228b22; /* Green color for correct answers */
}

/* Styling for quiz results */
.quiz-results {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quiz-results h2 {
  margin-bottom: 10px;
}

.quiz-results p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Animation for quiz component */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
